extends ../_layout/main

block content
    section
        h1= `Hello ${CurrentUser.name}! `
            small= `(@${CurrentUser.username})`
    
    section
        h2 Linked Developer Profile:
        .card-grid
            if CurrentUser.developer
                a.card(href=`/developers/${CurrentUser.developerId}`)
                    .card-body
                        h4= CurrentUser.developer.name
                        p= CurrentUser.developer.summary
            else
                a.card(href=`#`)
                    .card-body
                        h4 None
    
    section
        h2 Linked Social Profiles:
        .card-grid
            for profile in CurrentUser.socialProfiles
                .card
                    .card-body
                        h4.card-title= profile.provider
                        p.card-text= profile.displayName
                        p.card-text= `@${profile.username}`
                        p.card-text= profile.externalId
            else
                a.card(href=`#`)
                    .card-body
                        h4 None
