
mixin svgplaceholder(width, height)
    img(style="background-color: #fafafa;" src="data:image/svg+xml;charset=utf-8," + encodeURIComponent(`<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='${width}' height='${height}' viewBox='0 0 ${width} ${height}'><defs><symbol id='a' viewBox='0 0 90 66' opacity='0.3'><path d='M85 5v56H5V5h80m5-5H0v66h90V0z'/><circle cx='18' cy='20' r='6'/><path d='M56 14L37 39l-8-6-17 23h67z'/></symbol></defs><use xlink:href='#a' width='20%' x='40%'/></svg>`))&attributes(attributes)

mixin svgplaceholder-underlay(width, height)
    div(style="background-color: #fafafa; background-image:url(\"data:image/svg+xml;charset=utf-8," + encodeURIComponent(`<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='${width}' height='${height}' viewBox='0 0 ${width} ${height}'><defs><symbol id='a' viewBox='0 0 90 66' opacity='0.3'><path d='M85 5v56H5V5h80m5-5H0v66h90V0z'/><circle cx='18' cy='20' r='6'/><path d='M56 14L37 39l-8-6-17 23h67z'/></symbol></defs><use xlink:href='#a' ${ width > height ? "height" : "width" }='20%' ${ width > height ? "y" : "x" }='40%'/></svg>`) + "\");background-size: cover;background-repeat: no-repeat;background-position: center;")&attributes(attributes)
        block

mixin svgplaceholder-inline(width, height)
    - svgplaceholder2_uid = (svgplaceholder2_uid || 0) + 1;
    svg(style="background-color: #fafafa;" viewBox=`0 0 ${width} ${height}`)&attributes(attributes)
        defs
            symbol(id=`svgplaceholder-${svgplaceholder2_uid}` viewBox='0 0 90 66' opacity='0.3')
                path(d='M85 5v56H5V5h80m5-5H0v66h90V0z')
                circle(cx='18' cy='20' r='6')
                path(d='M56 14L37 39l-8-6-17 23h67z')
        use(xlink:href=`#svgplaceholder-${svgplaceholder2_uid}` width='20%' x='40%')
