extends ../_layout/main
include ../_components/entityActions

block content

    h1= team.name
    p= team.shortDescription
    p= team.description


    section
        h2 Team Members
        .card-grid
            for member in team.members
                a.card(href=`/developers/${ member.developer.id }`)
                    .card-body
                        h4.card-title= member.developer.name
                        p.card-text= member.roles

    section
        h2 Projects
        .card-grid
            for project in team.projects
                a.card(href=`/projects/${ project.id }`)
                    .card-body
                        h4.card-title= project.name
                        p.card-text= project.shortDescription

    +entityActions("Team", team)
