extends layout/main

block content

    h1= developer.name
    p= developer.description

    h2.text-center Teams
    .row
        for teamDeveloper in developer.teamDevelopers
            .col-lg-4.col-md-6
                a.card.mb-3(href=`/team/${ teamDeveloper.team.id }`)
                    .card-body
                        h4.card-title= teamDeveloper.team.name
                        p.card-text= teamDeveloper.team.shortDescription
