extends _layout/main

block content
    h1= statusCode
    h2= errorData.message
    if errorData.data
        pre= JSON.stringify(errorData.data)
    if errorData.stack
        pre= errorData.stack
    - var cb = errorData.causedBy
    while !!cb
        h2 Caused By:
        h3= cb.message
        if cb.data
            pre= JSON.stringify(cb.data)
        if cb.stack
            pre= cb.stack
        - var cb = cb.causedBy
