extends layout/main

block content
    h1 Horse Games
    form
        .form-group
            input.form-control(type="text",id="search",placeholder="Search...")
    .list-group.mb-5
        if projects && projects.length
            each project in projects
                a.list-group-item.list-group-item-action.flex-column.align-items-start(href=`/project/${project.id}`)
                    .d-flex.w-100.justify-content-between
                        h5.mb-1= project.name
                    p.mb-1= project.shortDescription
                    span
                        if project.tags && project.tags.length
                            each tag in project.tags
                                |&nbsp;
                                span.badge.badge-secondary.badge-pill= tag.key
                        |&nbsp;
                        span.badge.badge-primary= `id:${project.id}`
        else
            a.list-group-item.list-group-item-action.flex-column.align-items-start(href="#") No Results
