extends ./_layouts/master
include ./_components/svgplaceholder
include ./_components/meta


block head
    // Meta
    +meta-site-title("Pony.Games")
    +meta-site-twitter-handle("@PonyDotGames")
    +meta-site-twitter-id("1082875594306715649")
    //+meta-site-opensearch("Pony.Games", "https://pony.games/opensearch.xml")
    +meta-page-theme-color("#16212E")

    +meta-page-opengraph-type("website")
    +meta-page-twitter-card-type("summary")

    +meta-page-title("Pony.Games")
    +meta-page-description("Discover dozens of fangames made by the MLP community.")
    +meta-page-canonical-url("https://pony.games/")
    +meta-page-author-name("CyberPon3")
    +meta-page-author-twitter-handle("@CyberPon3")
    +meta-page-author-twitter-id("787535265447325698")
    +meta-page-publish-date("2019-01-10")
    +meta-page-update-date("2019-01-10")
    +meta-page-locale("en_US")
    +meta-page-image-url("https://pony.games/icon.png")
    +meta-page-image-mime("image/png")
    +meta-page-image-height("500")
    +meta-page-image-width("500")
    +meta-page-image-alt("Logo")

block main
    if FeaturedProject && FeaturedProject.bannerImageUrl
        div.banner(style=`background-image: url(${ FeaturedProject.bannerImageUrl})`)
    else
        +svgplaceholder-underlay(10,3).banner
    if FeaturedProject
        .featured-game
            h1 Featured Game
            .grid-col-2-desktop
                a.card(href=FeaturedProject.link || `/projects/${FeaturedProject.id}`)
                    if FeaturedProject.wideImageUrl
                        img(src=FeaturedProject.wideImageUrl).card-img-top
                    else
                        +svgplaceholder(8,3).card-img-top
                    .card-header
                        h1= FeaturedProject.name
                div!= FeaturedProject.description

    .container
        h1 Games
        .card-grid
            each project in (Projects || [])
                a.card(href=project.link || `/projects/${project.id}`)
                    if project.tallImageUrl
                        img(src=project.tallImageUrl).card-img-top
                    else
                        +svgplaceholder(5,7).card-img-top
                    .card-header
                        h1= project.name
            else
                a.card(href="#")
                    .card-body
                        p.mb-1 No Results
