extends ./_layouts/master
include ./_components/svgplaceholder
include ./_components/meta

block main
    .project-container
        .project-heading
            img(src=Project.squareImageUrl||Project.tallImageUrl)
            .project-heading-content
                h1= Project.name
                p= Project.team
                .project-tags
                    each tag in Project.tags || []
                        .project-tag= tag
                .project-links
                    each link in Project.links || []
                        a(href=link.url title=link.name)
                            i(class=link.iconclass aria-label=link.name)
