extends layout/main

block content

    h1= team.name
    p= team.description

    h2.text-center Team Members
    .row
        for teamDeveloper in team.teamDevelopers
            .col-lg-4.col-md-6
                a.card.mb-3(href=`/developer/${ teamDeveloper.developer.id }`)
                    .card-body
                        h4.card-title= teamDeveloper.developer.name
                        p.card-text= teamDeveloper.developer.shortDescription

    h2.text-center Projects
    .row
        for project in team.projects
            .col-lg-4.col-md-6
                a.card.mb-3(href=`/project/${ project.id }`)
                    .card-body
                        h4.card-title= project.name
                        p.card-text= project.shortDescription
