extends ../_layout/main

block content

    h1= developer.name
    p= developer.description

    h2.text-center Teams
    .row
        for member in developer.members
            .col-lg-4.col-md-6
                a.card.mb-3(href=`/teams/${ member.team.id }`)
                    .card-body
                        h4.card-title= member.team.name
                        p.card-text= member.team.shortDescription
