include ../_components/fa
include ../_components/navItem
include ../_components/style

doctype html
html(lang="en")
    head
        // Meta
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        
        // Icons
        link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
        link(rel="icon" type="image/png" href="/favicon.png")

        // Other
        title= title || "Pony Games"

        // FontAwesome CSS
        +style("https://use.fontawesome.com/releases/v5.2.0/css/all.css")(
            integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
            crossorigin="anonymous"
        )

        // Theme CSS
        +style("/styles/theme.css")

        // Main JS
        script(defer src="/scripts/main.js")

        block head

    body.flex.flex-col

        header
            nav.flex.flex-center
                a.logo(href="/") 
                    span.logo-icon
                        +fas.fa-fw.fa-gamepad
                    span.logo-text Pony Games

                .flex-grow

                form.flex.flex-center(role="search")
                    input(type="search", id="search", name="q" placeholder="Search...")

                if CurrentUser
                    .flex.flex-center.dropdown
                        a.dropdown-toggle(href="#")
                            +fas.fa-fw.fa-lg.fa-user-circle
                            = CurrentUser.name
                            +fas.fa-fw.fa-caret-down
                        ul.dropdown-content
                            li
                                a(href="/settings") Settings
                
                else
                    a(href="/login") Login

        main.flex-grow
            block layout

        footer
            if timer
                div
                    span= `Routing: ${ timer.getDurationOf('routing').toFixed(1) }ms  |  `
                    span= `Query: ${ timer.getDurationOf('db').toFixed(1) }ms  |  `
                    span= `Processing: ${ (timer.getDurationOf('processing') - timer.getDurationOf('db')).toFixed(1) }ms  |  `
                    span= `Rendering: ${ timer.getDurationOf('rendering').toFixed(1) }ms  |  `
                    span= `Total: ${ timer.getDurationOf('request').toFixed(1) }ms`
