include ../_components/fa
include ../_components/navItem
include ../_components/style

doctype html
html(lang="en")
    head
        // Meta
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        
        // Icons
        link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
        link(rel="icon" type="image/png" href="/favicon.png")

        // Other
        title= title || "Pony Games"

        // Google Web Fonts CSS
        +style("https://fonts.googleapis.com/css?family=Work+Sans:400,900")


        // FontAwesome CSS
        +style("https://use.fontawesome.com/releases/v5.2.0/css/all.css")(
            integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
            crossorigin="anonymous"
        )

        // Theme CSS
        +style("/styles/theme.css")

        // jQuery
        script(
            defer
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        )

        // Main JS
        script(defer src="/scripts/main.js")

        block head

    body.flex.flex-col

        header.header
            nav.flex.flex-center
                a.navbar-brand(href="/")
                    span.logo-text Pony Games

                .flex-grow
                    a.active(href="/") Home
                    a(href="/About") About Project
                    a(href="/Contact") Contact

                form(role="search")
                    input.input-sm(type="search", id="search-header", name="q" placeholder="search" aria-label="Search")
            block header


        main.flex-grow
            block layout

        footer
            .footer
                h1 DISCOVER. PONY. GAMES.
                input.input-sm(type="search", id="search-footer", name="q" placeholder="search" aria-label="Search")
                nav
                    a(href="/") Home
                    a(href="/About") About Project
                    a(href="/Contact") Contact
            .subfooter Designed by Szymon "SiMonk0" Furjan
