extends ../_layout/main

block content
    form.js-ajaxform(action=`/api/v1/projects/${project.id}` method="put" data-success-location="..")
        .form-group
            label(for="projectName") Project Name
            input#projectName.form-control(type="text", name="name", placeholder="My Cool Project", value=project.name)
        .form-group
            label(for="projectShortDescription") Short Description
            textarea#projectShortDescription.form-control(name="shortDescription", rows="3")= project.shortDescription
        .form-group
            label(for="projectDescription") Full Description
            textarea#projectDescription.form-control(name="description", rows="10")= project.description
        .form-group
            label(for="projectTeam") Development Team
            select#projectTeam.form-control(name="teamId" data-value-type="number")
                each team in teams
                    option(value=team.id selected=team.id==project.teamId)= team.name
        .form-group
            label(for="projectTags2") Tags
            - var currentTagIds = project.tags.map(t => t.id);
            each tag in tags
                .form-check.form-check-inline(data-value-type="number")
                    input.form-check-input(type="checkbox", name="tags" id=`projectTag-${tag.id}` value=tag.id checked=currentTagIds.includes(tag.id))
                    label.form-check-label(for=`projectTag-${tag.id}`)= tag.key

        button.btn.btn-success(type="submit") Save
        button.btn.btn-link(type="button") Cancel
