extends ../_layout/main
include ../_components/svgplaceholder

block content
    .card-grid
        each project in (projects || [])
            a.card(href=`/projects/${project.id}`)
                +svgplaceholder(16,9)(class="card-img-top")
                .card-body
                    h4= project.name
                    p= project.shortDescription
                    .badges
                        each tag in project.tags || []
                            .badge.badge-secondary.badge-pill= tag.key
                        .badge.badge-primary= `id:${project.id}`
        else
            a.card(href="#")
                .card-body
                    p.mb-1 No Results
