include ../components/fa
include ../components/navItem
include ../components/style
- pageScripts = pageScripts || []

doctype html
html(lang="en")
    head
        // Meta
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        
        // Icons
        link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
        link(rel="icon" type="image/png" href="/favicon.png")

        // Other
        title= title || "Pony Games"

        // Bootstrap CSS
        +style("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css")(
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
            crossorigin="anonymous"
        )

        // FontAwesome CSS
        +style("https://use.fontawesome.com/releases/v5.0.9/css/all.css")(
            integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
            crossorigin="anonymous"
        )

        // Theme CSS
        +style("/styles/theme.css")

        block header

    body

        header
            nav.navbar.navbar-dark.bg-dark.text-light
                a.navbar-brand(href="/") Pony.Games
                form.form-inline
                    input.form-control(type="search",id="search",placeholder="Search...")

        main
            block body

        footer.footer
            if timer
                .container-fluid.bg-dark.text-light.py-2
                    span= `Routing: ${ timer.getDurationOf('routing').toFixed(1) }ms  |  `
                    span= `Query: ${ timer.getDurationOf('db').toFixed(1) }ms  |  `
                    span= `Processing: ${ (timer.getDurationOf('processing') - timer.getDurationOf('db')).toFixed(1) }ms  |  `
                    span= `Rendering: ${ timer.getDurationOf('rendering').toFixed(1) }ms  |  `
                    span= `Total: ${ timer.getDurationOf('request').toFixed(1) }ms`


        // Bootstrap JS
        script(
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        )
        script(
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"
        )
        script(
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"
        )
        each script in pageScripts || []
            script(src=script)
